.holy{
	background-color:lightsalmon;
	font-size:24px;
	font-color:#AAAAAA;
	
}


p{
	font-size:20px;
	font-color:#ffffff;
}

a:link{
	font-size:30px;
	color:thistle;
	text-decoration:none;
}

a:visited{
	color:black;
}
